<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GCMP</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/font.css" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="css/gcmp.css" rel="stylesheet">

    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="js/gcmp.js"></script>
    <script>
        $(function () {

            var vue = new Vue({
                el: '#wrap',
                data: {
                    loginUri: '/api/admin/login',
                    username: '',
                    password: '',
                    rememberMe: false,
                    token: ''
                },
                mounted: function () {
                    this.load();
                },
                methods: {
                    load: async function () {
                        var is_initialized = false;
                        await axios.get("/api/admin/is_initialized").then(function (response) {
                            if (response.data.data == false) {
                                window.location.href = '/admin/init.html';
                            } else {
                                is_initialized = true;
                            }
                        }).catch(function (err) {
                            if (err.response) {
                                showErrMsg(err.response.data.message, 2000);

                            }
                        })
                        if (is_initialized) {
                            axios.get("/api/admin/cur_user").then(function (response) {
                                vue.token = response.data.data.accessToken;
                                window.location.href = '/admin/server-status.html?token=' + vue.token;
                            }).catch(function (err) {
                                if (err.response) {
                                    var status = err.response.status;
                                    if (status == 401) {
                                        showErrMsg("登录信息过期", 2000);

                                    }
                                }

                            })
                        }
                    },
                    login: function () {
                        axios.post(this.loginUri, {
                            username: this.username,
                            password: this.password,
                            rememberMe: this.rememberMe
                        }).then(function (response) {
                            vue.token = response.data.data.accessToken;
                            window.location.href = '/admin/server-status.html?token=' + vue.token;
                        }).catch(function (err) {
                            if (err.response) {
                                showErrMsg(err.response.data.message, 2000)

                            }
                        });
                    },
                    doNothing: function () {
                        showErrMsg('还没实现', 2000);
                    }
                }
            });
        })

    </script>
</head>

<body class="bg-gradient-primary">

<div class="container" id="wrap">


    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <div class="row justify-content-center">

                        <div class="col-lg-6 ">
                            <div class="p-5">
                                <div class="ErrorMessageDiv fade text-center pb-2">
                                    <span class="alert p-1 border-0 text-danger  errorMessage">df</span>
                                </div>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">GCMP ADMIN</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input v-model="username" type="text" class="form-control form-control-user"

                                               placeholder="用户名">
                                    </div>
                                    <div class="form-group">
                                        <input v-model="password" type="password" class="form-control form-control-user"
                                               placeholder="密码">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input v-model="rememberMe" type="checkbox" class="custom-control-input"
                                                   id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <a type="button" @click="login"
                                       class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a @click="doNothing" class="small" href="javascript:void(0)">忘记密码</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>
