<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>webuploader上传</title>
    <link rel="stylesheet" type="text/css" href="webuploader-0.1.5/webuploader.css">
    <link rel="stylesheet" type="text/css" href="public/bootstrap.min.css">
    <!--引入JS-->
    <!--<script type="text/javascript" src="public/jquery-3.3.1.min.js"></script>-->
    <script type="text/javascript" src="public/jquery.min.js"></script>
    <script type="text/javascript" src="webuploader-0.1.5/webuploader.js"></script>
    <script type="text/javascript" src="public/bootstrap.min.js"></script>
    <!--    <script type="text/javascript" src="webuploader/hashmap.js"></script>-->
    <style type="text/css">
        #picker {
            display: inline-block;
            line-height: 1.428571429;
            vertical-align: middle;
            margin: 0 12px 0 0;
        }
    </style>
</head>
<body>
<div id="uploader" class="container">
    <!--用来存放文件信息-->
    <div id="thelist" class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">webuploader文件上传</div>
            <table class="table table-striped table-bordered" id="uploadTable">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>文件名称</th>
                    <th>文件大小</th>
                    <th>上传状态</th>
                    <th>上传进度</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="panel-footer">
                <div id="picker">选择文件</div>
                <!--                <button id="btn" class="btn btn-default">开始上传</button>-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var uploader;
    var chun_size = 1024 * 1024 * 1;
    var md5_siz5 = 1024 * 1024 * 10;

    var $list = $("#thelist table>tbody");
    var state = 'pending';//初始按钮状态
    var $btn = $("#btn");
    var count = 0;
    // var map = new HashMap();
    //监听分块上传过程中的三个时间点
    WebUploader.Uploader.register({
        "before-send-file": "beforeSendFile",
        "before-send": "beforeSend",
        "after-send-file": "afterSendFile",
    }, {
        //时间点1：所有分块进行上传之前调用此函数
        beforeSendFile: function (file) {
            file.exised = false;
            file.target_relative_path = "nop/" + file.name;
            // console.log("beforeSendFile");
            // Deferred对象在钩子回掉函数中经常要用到，用来处理需要等待的异步操作。
            var task = WebUploader.Deferred();
            // 根据文件内容来查询MD5
            uploader.md5File(file, 0, md5_siz5).progress(function (percentage) {   // 及时显示进度
                // console.log('计算md5进度:', percentage);
                //getProgressBar(file, percentage, "MD5", "MD5");
            }).then(function (val) { // 完成
                $('#' + file.id).find('td.state').text('正在上传');
                console.log('md5 result:', val);
                file.file_md5 = val;
                // 进行md5判断
                file.chunks = Math.ceil(file.size / chun_size);
                console.log(file.size)
                console.log(chun_size)
                $.post("/api/data/check", {
                        serverId: 0,
                        md5: file.file_md5,
                        totalChunks: file.chunks,
                        chunkSize: chun_size,
                        totalSize: file.size,
                        relativePath: file.target_relative_path
                    },
                    function (data) {
                        task.resolve();
                        status = data.status;

                        if (status == 0) {
                            uploader.skipFile(file);
                            file.exised = true;
                            console.log("文件已存在");
                        } else {
                            file.existsChunks = data.existedChunk;
                            console.log(data.existedChunk)
                        }

                    });
            });
            return task.promise();
        },
        beforeSend: function (block) {
            file_chunks = block.chunks
            // console.log("block")
            var task = WebUploader.Deferred();
            var file = block.file;
            var existsChunks = file.existsChunks;
            var blockChunk = block.chunk + 1;

            var flag = false;
            for (var i = 0; i < existsChunks.length; i++) {
                if (blockChunk == existsChunks[i]) {
                    flag = true;
                    break;
                }
            }
            if (flag) {
                task.reject();
            } else {
                task.resolve();
                // console.log("当前分块：" + blockChunk);
            }

            return task.promise();
        },
        afterSendFile: function (file) {
            var deferred = WebUploader.Deferred();
            // console.log(file.chunks > 1);
            //判断是否要分片
            $('#' + file.id).find('button.btn-error')[0].style.display = 'none';
            if (file.chunks > 1 && file.exised == false) {
                $('#' + file.id).find('td.state').text('正在合并');

                // log('正在合并...');
                $.post('/api/data/merge', {
                    serverId: 0,
                    md5: file.file_md5,
                    relativePath: file.target_relative_path,
                    totalChunks: file.chunks
                }, function (data) {

                    deferred.resolve();
                });
            } else {
                deferred.resolve();
            }
            return deferred.promise();
        }
    });

    uploader = WebUploader
        .create({
            // swf文件路径
            swf: 'webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/api/data/upload',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '#picker',//这个id是你要点击上传文件的id
                multiple: true
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            auto: true,
            //开启分片上传
            chunked: true,
            chunkSize: chun_size,   //每一片的大小
            chunkRetry: 3,              // 如果遇到网络错误,重新上传次数
            threads: 3,                   // [默认值：3] 上传并发数。允许同时最大上传进程数。
            prepareNextFile: true,
            accept: {
                extensions: "txt,jpg,jpeg,bmp,png,zip,rar,war,pdf,cebx,doc,docx,ppt,pptx,xls,xlsx,iso",
                mimeTypes: '.txt,.jpg,.jpeg,.bmp,.png,.zip,.rar,.war,.pdf,.cebx,.doc,.docx,.ppt,.pptx,.xls,.xlsx,.iso'
            }
        });
    uploader.on('uploadBeforeSend', function (block, data) {
        //事件里不支持这种用法
        // var deferred = WebUploader.Deferred();
        data.relativePath = block.file.target_relative_path;
        data.serverId = 0;
        data.totalChunks = block.chunks;
        data.chunkNumber = block.chunk + 1;
        data.md5 = block.file.file_md5;
    });
    // 当有文件被添加进队列的时候
    uploader.on('fileQueued', function (file) {
        //保存文件扩展名
        var fileSize = file.size;
        var fileSizeStr = "";

        fileSizeStr = WebUploader.Base.formatSize(fileSize);
        count++;
        $list.append(
            '<tr id="' + file.id + '" class="item" flag=0>' +
            '<td class="index">' + count + '</td>' +
            '<td class="info">' + file.name + '</td>' +
            '<td class="size">' + fileSizeStr + '</td>' +
            '<td class="state">等待上传...</td>' +
            '<td class="percentage"></td>' +
            '<td class="operate">' +
            '<button name="delete" class="btn btn-error">删除</button></td></tr>');

    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        $('#' + file.id).find('td.percentage').text(Math.round(percentage * 99) + '%');
    });

    uploader.on('uploadSuccess', function (file) {
        $('#' + file.id).find('td.percentage').text(Math.round(100) + '%');
        $('#' + file.id).find('td.state').text('已上传');

    });

    uploader.on('uploadError', function (file) {
        $('#' + file.id).find('td.state').text('上传出错');
    });

    uploader.on('uploadComplete', function (file) {
        uploader.removeFile(file);
    });


    // uploader.on('all', function (type) {
    //     if (type === 'startUpload') {
    //         state = 'uploading';
    //     } else if (type === 'stopUpload') {
    //         state = 'paused';
    //     } else if (type === 'uploadFinished') {
    //         state = 'done';
    //     }
    //
    //     if (state === 'uploading') {
    //         $btn.text('暂停上传');
    //     } else {
    //         $btn.text('开始上传');
    //     }
    // });

    // $btn.on('click', function () {
    //     if (state === 'uploading') {
    //         uploader.stop(true);
    //     } else {
    //         uploader.upload();
    //     }
    // });

    // $("body").on("click", "#uploadTable button[name='upload']", function () {
    //     flag = $(this).parents("tr.item").attr("flag") ^ 1;
    //     $(this).parents("tr.item").attr("flag", flag);
    //     var id = $(this).parents("tr.item").attr("id");
    //     if (flag == 1) {
    //         $(this).text("暂停");
    //         uploader.upload(uploader.getFile(id, true));
    //
    //     } else {
    //         $(this).text("开始");
    //         //uploader.stop(true);
    //         uploader.stop(uploader.getFile(id, true));
    //         //uploader.skipFile(file);
    //         //uploader.removeFile(file);
    //         //uploader.getFile(id,true);
    //     }
    // });

    $("body").on("click", "#uploadTable button[name='delete']", function () {
        var id = $(this).parents("tr.item").attr("id");
        $(this).parents("tr.item").remove();
        var file = uploader.getFile(id);
        var md5 = file.file_md5;
        var relativePath = file.target_relative_path;
        uploader.removeFile(uploader.getFile(id));
        uploader.stop(uploader.getFile(id), true);

        $.post('/api/data/cancel', {
            serverId: 0,
            md5: md5,
            relativePath: relativePath,
        }, function (data) {
        });

        // map.remove(id);
    });

    function log(html) {
        $("#log").append("<div>" + html + "</div>");
    }
</script>
</body>
</html>