<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GCMP</title>


    <!-- Custom styles for this template-->

    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
</head>

<body id="page-top">
<div id="div1">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>服务器</th>
            <th>GPU(空闲/总量)</th>
            <th>内存(空闲/总量)</th>
            <th>硬盘(空闲/总量)</th>
        </tr>
        </thead>

        <!--                                <tbody>-->
        <tr v-for="s, index in serverStatus">
            <td>{{index}}</td>
            <td>{{s.hostName}}</td>
            <td>{{s.gpuAvailable}}/{{s.gpuTotal}}</td>
            <td>{{s.memoryAvailable|renderSize}}/{{s.memoryTotal|renderSize}}</td>
            <td>{{s.diskAvailable|renderSize}}/{{s.diskTotal|renderSize}}</td>
            <!--                                    <td>1</td>-->
            <!--                                    <td>1</td>-->
            <!--                                    <td>1</td>-->
            <!--                                    <td>1</td>-->
            <!--                                    <td>1</td>-->
        </tr>

        <!--                                </tbody>-->
    </table>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Page level custom scripts -->
<!--<script src="js/demo/datatables-demo.js"></script>-->

<script>
    $(function () {

        var vue = new Vue({
            el: '#div1',
            data: {
                uri: '/api/status/all',
                serverStatus: []
            },
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.load();
            },
            methods: {
                load: function () {
                    var url = this.uri;
                    axios.get(url).then(function (response) {
                        vue.serverStatus = response.data.data;

                    });
                }
            },
            filters: {
                renderSize: function (value) {
                    if (null == value || value == '') {
                        return "0 Bytes";
                    }
                    var unitArr = new Array("Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB");
                    var index = 0;
                    var srcsize = parseFloat(value);
                    index = Math.floor(Math.log(srcsize) / Math.log(1024));
                    var size = srcsize / Math.pow(1024, index);
                    size = size.toFixed(2);//保留的小数位数
                    return size + unitArr[index];
                }
            }
        });
    })


</script>
</body>

</html>
