<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GCMP</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {

            var vue = new Vue({
                el: '#wrapper',
                data: {
                    serverStatusUri: '/api/status/available_all',
                    serverPropertyUri: '/api/status/server_property',
                    serverStatus: [],
                    serverProperty: []
                },
                mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load: function () {
                        axios.get(this.serverStatusUri).then(function (response) {
                            vue.serverStatus = response.data.data;

                        });
                        axios.get(this.serverPropertyUri).then(function (response) {
                            vue.serverProperty = response.data.data;

                        });
                        window.setInterval(function () {
                            axios.get(this.serverStatusUri).then(function (response) {
                                vue.serverStatus = response.data.data;

                            });
                        }, 1000 * 5)


                    }
                },
                filters: {
                    renderSize: function (value) {
                        if (null == value || value == '') {
                            return "0 Bytes";
                        }
                        var unitArr = new Array("Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB");
                        var index = 0;
                        var srcsize = parseFloat(value);
                        index = Math.floor(Math.log(srcsize) / Math.log(1024));
                        var size = srcsize / Math.pow(1024, index);
                        size = size.toFixed(2);//保留的小数位数
                        return size + unitArr[index];
                    }
                }
            });
        })

    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper" v-cloak>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center" href="index3.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">GCMP</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index3.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>可用资源</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="my-tasks.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>我的任务</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/mydata">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>我的文件</span></a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="my-images.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>我的镜像</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="user-common-images.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>公共镜像</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="user-common-data.html">
                <i class="fas fa-fw fa-table"></i>
                <span>公共数据集</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!--         Sidebar Toggler (Sidebar) -->
        <!--        <div class="text-center d-none d-md-inline">-->
        <!--            <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
        <!--        </div>-->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <!--                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
                <!--                    <i class="fa fa-bars"></i>-->
                <!--                </button>-->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <!--                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class=" ml-auto">

                <!-- Page Heading -->
                <!--                <h1 class="h3 mb-2 text-gray-800">Tables</h1>-->

                <!-- DataTales Example -->
                <div class="card shadow mb-0 ">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">可用资源</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-status table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>服务器</th>
                                    <th>GPU型号</th>
                                    <th>GPU(空闲/总量)</th>
                                    <th>内存(空闲/总量)</th>
                                    <th>硬盘(空闲/总量)</th>
                                </tr>
                                </thead>

                                <!--                                <tbody>-->
                                <tr v-for="sp, i in serverProperty">
                                    <td>{{i}}</td>
                                    <td>{{sp.hostName}}</td>
                                    <td>{{sp.gpuSeries}}</td>
                                    <td>{{serverStatus[i].gpuAvailable}}/{{sp.gpuTotal}}</td>
                                    <td>{{serverStatus[i].memoryAvailable|renderSize}}/{{sp.memoryTotal|renderSize}}
                                    </td>
                                    <td>{{serverStatus[i].diskAvailable|renderSize}}/{{sp.diskTotal|renderSize}}</td>

                                </tr>

                                <!--                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- Page level custom scripts -->


</body>

</html>
