<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
    <script>
        $(function () {

            //ViewModel
            var vue = new Vue({
                el: '#wrapper',
                data: {
                    uri: '/api/data',
                    datas: [],
                    relativePath: '',
                    file: false,
                    serverId: 0,
                    pathItems: [],
                    newPath: ''
                },
                mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load: function () {
                        var url = this.uri + "?relativePath=" + this.relativePath +
                            '&file=' + this.file + '&serverId=' + this.serverId;
                        axios.get(url).then(function (response) {
                            vue.datas = response.data.data;
                        });
                        this.pathItems = this.relativePath.split('/')
                        this.notselectAll();

                    },
                    selectSingle: function (element) {
                        var tgt = element.currentTarget;
                        var selected = tgt.getAttribute("selectedd")
                        if ("true" == selected) {
                            tgt.setAttribute("src", "img/cartNotSelected.png");
                            tgt.setAttribute("selectedd", "false")
                        } else {
                            tgt.setAttribute("src", "img/cartSelected.png");
                            tgt.setAttribute("selectedd", "true")
                        }
                    },
                    notselectAll: function () {
                        $(".cartProductItemIfSelected").each(function () {
                            $(this).attr("src", "img/cartNotSelected.png");
                            $(this).attr("selectedd", "false");
                        });
                    },
                    selectAll: function (element) {
                        var tgt = element.currentTarget;
                        var selected = tgt.getAttribute("selectedd")
                        if ("true" == selected) {
                            tgt.setAttribute("src", "img/cartNotSelected.png");
                            tgt.setAttribute("selectedd", "false")
                            $(".cartProductItemIfSelected").each(function () {
                                $(this).attr("src", "img/cartNotSelected.png");
                                $(this).attr("selectedd", "false");
                            });
                        } else {
                            tgt.setAttribute("src", "img/cartSelected.png");
                            tgt.setAttribute("selectedd", "true")
                            $(".cartProductItemIfSelected").each(function () {
                                $(this).attr("src", "img/cartSelected.png");
                                $(this).attr("selectedd", "true");
                            });
                        }
                    },
                    intoDir: function (element) {
                        var tgt = element.currentTarget;
                        this.relativePath += '/' + tgt.innerText;
                        this.load()
                    },
                    jumpDir: function (index) {
                        this.relativePath = '';
                        for (var i = 0; i <= index; i++) {
                            this.relativePath += this.pathItems[i] + '/';
                        }
                        if (this.relativePath != '') {
                            this.relativePath = this.relativePath.substr(0, this.relativePath.length - 1);
                        }
                        this.load();
                    },

                    remove: function (element) {
                        var counter = 0;
                        var arr = $(".cartProductItemIfSelected");
                        arr.each(function () {
                            var selected = $(this).attr("selectedd");
                            if (selected == "true") {
                                var idx = $(this).attr("idx");
                                var path = vue.relativePath + '/' + vue.datas[idx].name;
                                var isFile = vue.datas[idx].file;
                                $("span.errorMessage").html("正在删除" + vue.datas[idx].name + "...");
                                $("div.ErrorMessageDiv").removeClass("fade")
                                axios.delete(vue.uri, {
                                    data: {
                                        relativePath: path,
                                        file: isFile,
                                        serverId: vue.serverId
                                    }
                                }).then(function (response) {
                                    $("div.ErrorMessageDiv").addClass("fade")
                                });
                            }
                            counter++;
                            if (counter == arr.length) {
                                vue.load();
                            }
                        })
                    },

                    rename: function () {
                        $("#renameModal").modal("hide")
                        var sl = [];
                        $(".cartProductItemIfSelected").each(function () {
                            var selected = $(this).attr("selectedd");
                            if (selected == "true") {
                                sl.push($(this).attr("idx"));
                            }
                        });
                        if (sl.length != 1) {
                            alert("选太多/太少了！")
                        } else {
                            var idx = sl[0];
                            var srcpath = vue.relativePath + '/' + vue.datas[idx].name;
                            var tgtpath = vue.relativePath + '/' + this.newPath;
                            axios.post("/api/data/move", {
                                srcRelativePath: srcpath,
                                targetRelativePath: tgtpath,
                                serverId: this.serverId
                            }).then(function (response) {
                                vue.load();
                            });
                        }
                    },

                    move: function () {
                        $("#moveModal").modal("hide")
                        $(".cartProductItemIfSelected").each(function () {
                            var selected = $(this).attr("selectedd");
                            if (selected == "true") {
                                var idx = $(this).attr("idx")
                                var srcpath = vue.relativePath + '/' + vue.datas[idx].name;
                                var tgtpath = vue.newPath + '/' + vue.datas[idx].name;
                                axios.post("/api/data/move", {
                                    srcRelativePath: srcpath,
                                    targetRelativePath: tgtpath,
                                    serverId: vue.serverId
                                }).then(function (response) {
                                });
                            }
                        })
                    },

                    copy: function () {
                        $("#copyModal").modal("hide")
                        $(".cartProductItemIfSelected").each(function () {
                            var selected = $(this).attr("selectedd");
                            if (selected == "true") {
                                var idx = $(this).attr("idx")
                                var srcpath = vue.relativePath + '/' + vue.datas[idx].name;
                                var tgtpath = vue.newPath;
                                axios.post("/api/data/copy", {
                                    srcRelativePath: srcpath,
                                    targetRelativePath: tgtpath,
                                    serverId: vue.serverId
                                }).then(function (response) {
                                });
                            }
                        });
                        this.load();
                    },
                    newDir: function () {
                        $("#newDirModal").modal("hide");
                        var path = this.relativePath + '/' + this.newPath
                        axios.post("/api/data/dir", {
                                relativePath: path,
                                file: false,
                                serverId: vue.serverId
                            }
                        ).then(function (response) {
                            vue.load();
                        });
                    },
                    unzip: function () {
                        $(".cartProductItemIfSelected").each(function () {
                            var selected = $(this).attr("selectedd");
                            if (selected == "true") {
                                var idx = $(this).attr("idx")
                                var path = vue.relativePath + '/' + vue.datas[idx].name;
                                var file = vue.datas[idx].file;
                                if (file) {
                                    $("span.errorMessage").html("正在解压" + vue.datas[idx].name + "...");
                                    $("div.ErrorMessageDiv").removeClass("fade")
                                    axios.post("/api/data/unzip", {
                                        relativePath: path,
                                        file: true,
                                        serverId: vue.serverId
                                    }).then(function (response) {
                                        $("div.ErrorMessageDiv").addClass("fade")
                                        vue.load();
                                    });
                                }
                            }
                        })


                    }
                },
                filters: {
                    renderSize: function (value, file) {
                        if (file == false) {
                            return "--"
                        }
                        if (null == value || value == '') {
                            return "0 Bytes";
                        }
                        var unitArr = new Array("Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB");
                        var index = 0;
                        var srcsize = parseFloat(value);
                        index = Math.floor(Math.log(srcsize) / Math.log(1024));
                        var size = srcsize / Math.pow(1024, index);
                        size = size.toFixed(2);//保留的小数位数
                        return size + unitArr[index];
                    }
                }
            });
        })


    </script>
</head>
<style>
    table.table tbody tr td,
    table.table thead tr th,
    table.table thead {
        border-left: 0px solid;
        border-right: 0px solid;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: medium;
    }

    table.table thead tr th {
        border-bottom: 0px;
    }

</style>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center" href="index3.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">GCMP</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>可用资源</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" href="my-tasks.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>我的任务</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/mydata">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>我的文件</span></a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="my-images.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>我的镜像</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="user-common-images.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>公共镜像</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="user-common-data.html">
                <i class="fas fa-fw fa-table"></i>
                <span>公共数据集</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-sm-0 static-top shadow">
                <div class="ErrorMessageDiv fade">
                    <span class="alert p-1 border-dark  errorMessage">df</span>
                </div>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <!--                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class=" ml-auto ">

                <!-- Page Heading -->
                <!--                <h1 class="h3 mb-2 text-gray-800">Tables</h1>-->

                <!-- DataTales Example -->
                <div class="card shadow ">

                    <div class="card-body pt-sm-1">

                        <a class="btn btn-light bnt-square btn-sm" @click="remove">
                            <span class="icon text-gray-600">
                            <i class="fas fa-download"></i>
                            </span>
                        </a>

                        <a class="btn btn-light bnt-square btn-sm">
                            <span class="icon text-gray-600">
                            <i class="fas fa-upload"></i>
                            </span>
                        </a>
                        <a class="btn btn-light bnt-square btn-sm" @click="remove($event)">
                            <span class="icon text-gray-600">
                            <i class="fas fa-trash"></i>
                            </span>
                        </a>
                        <div class="btn-group floating">
                            <a type="button" data-toggle="modal" data-target="#renameModal"
                               class="btn btn-light bnt-square btn-sm"><span
                                    class="icon text-gray-600">重命名</span>
                            </a>
                            <a type="button" data-toggle="modal" data-target="#moveModal"
                               class="btn btn-light bnt-square btn-sm "><span
                                    class="icon text-gray-600">移动到</span>
                            </a>
                            <a type="button" data-toggle="modal" data-target="#copyModal"
                               class="btn btn-light bnt-square btn-sm"><span
                                    class="icon text-gray-600">复制到</span>
                            </a>
                            <a @click="unzip" type="button" class="btn btn-light bnt-square btn-sm"><span
                                    class="icon text-gray-600">解压</span>
                            </a>
                            <a type="button" data-toggle="modal" data-target="#newDirModal"
                               class="btn btn-light bnt-square btn-sm"><span
                                    class="icon text-gray-600">创建文件夹</span>
                            </a>
                        </div>

                        <ol class="breadcrumb mt-1 p-1 bg-white mb-0">
                            <!--                            <li class="breadcrumb-item" v-bind:class="{ active: i==pathItems.length}">{{item}}-->
                            <!--                            </li>-->
                            <li class="text-dark" @click="jumpDir(-1)"><a href="javascript:void(0)">...</a></li>
                            <li v-for="item,i in pathItems" class="breadcrumb-item text-dark" @click="jumpDir(i)"
                                :class={'active':i+1==pathItems.length}>
                                <span v-if="i+1==pathItems.length">{{item}}</span>
                                <span v-else><a href="javascript:void(0)">{{item}}</a></span>
                            </li>

                        </ol>


                        <div class="table-status table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                   border-right="none">

                                <thead>
                                <tr>
                                    <th class="selectAndImage ">
                                        <img @click="selectAll($event)" selectedd="false" class="selectAllItem"
                                             src="img/cartNotSelected.png">

                                    </th>
                                    <th width="60%" style="font-size: small">文件名</th>
                                    <th width="30%" style="font-size: small">大小</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr v-for="d,i in datas">
                                    <td>
                                        <img @click="selectSingle($event)" selectedd="false" :idx=i
                                             class="cartProductItemIfSelected"
                                             src="img/cartNotSelected.png">

                                    </td>
                                    <td v-if="d.file">{{d.name}}</td>
                                    <td v-else @click="intoDir"><a href="javascript:void(0)">{{d.name}}</a></td>
                                    <td>{{d.size|renderSize(d.file)}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newDirModal" tabindex="-1" role="dialog" aria-labelledby="newDirModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="p-3">
                    <input v-model="newPath" type="text" class="form-control" placeholder="新的文件(夹)名">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" @click="newDir">确定</a>
                </div>
            </div>

        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="p-3">
                    <input v-model="newPath" type="text" class="form-control" placeholder="新的文件(夹)名">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" @click="rename">确定</a>
                </div>
            </div>

        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="p-3">
                    <input v-model="newPath" type="text" class="form-control" placeholder="新的父文件夹路径，根目录为/">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" @click="move">确定</a>
                </div>
            </div>

        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="p-3">
                    <input v-model="newPath" type="text" class="form-control" placeholder="新的父文件夹路径，根目录为/">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" @click="copy">确定</a>
                </div>
            </div>
        </div><!-- /.modal -->
    </div>

</div>

<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->


</body>

</html>
