<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.haha.gcmp.repository.FileMapper">
    <resultMap id="fullTempFileInfo" type="com.haha.gcmp.model.entity.TempFileInfo">
        <result property="md5" column="md5"/>
        <result property="serverId" column="server_id"/>
    </resultMap>

    <select id="get" resultMap="fullTempFileInfo">
        select md5, server_id from temp_file where md5 = #{md5} and server_id = #{serverId}
    </select>


    <insert id="insert">
        insert into temp_file (md5, server_id, relative_path) values (#{md5}, #{serverId}, #{relativePath})
    </insert>


    <delete id="remove">
        delete from temp_file where md5 = #{md5} and server_id = #{serverId}
    </delete>

</mapper>