<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.haha.gcmp.repository.TempFileMapper">
    <resultMap id="fullTempFileInfo" type="com.haha.gcmp.model.entity.TempFile">
        <result property="md5" column="md5"/>
        <result property="serverId" column="server_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="exists" resultType="_boolean">
        select count(*) from temp_file where user_id = #{userId} and server_id = #{serverId} and md5 = #{md5}
    </select>


    <insert id="insert">
        insert into temp_file (md5, server_id, relative_path, user_id) values (#{md5}, #{serverId}, #{relativePath}, #{userId})
    </insert>


    <delete id="remove">
        delete from temp_file where user_id = #{userId} and server_id = #{serverId} and md5 = #{md5}
    </delete>

    <delete id="removeByUserId">
        delete from temp_file where user_id = #{userId}
    </delete>
</mapper>